@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2 {
	font-family: var(----font-paytone-one);
	color: #ff8e0a;
	font-size: 36px;
}

p {
	font-family: var(--font-cabin);
}

#blueButton {
	width: 300px;
}

#arrow {
	width: 120px;
}
