@tailwind base;
@tailwind components;
@tailwind utilities;

g:hover .cloud {
	fill: #f2a4cf;
}

g:hover text {
	fill: #17ffea;
}

/* turq: "#17ffea",
blue: "#94e1f9",
pink: "#f2a4cf",
yellow: "#fde072", */
